.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  
  .button-area {
    padding: 20px 0;
  }
  
  button {
    padding: 10px 15px;
  }
  
  /* Formatação dos campos */