* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;

}

body {
  background: 
  linear-gradient(
    rgba(231,159,57,0.8),
    rgba(231,159,57,0.8)
    ),
    url(bgimage.png);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3vh 16px;
  align-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  background-color: #747C81;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 4px rgba(0,0,0,0.4);
  padding: 20px 20px;
  width: 80vw;
}

h1 {
  color: #EDEAE3;
  padding: 30px 16px;
}


.form-label {
  color: #EDEAE3;
  text-align: center;
  padding: 10px 20px;
  margin: 10px 0px;
}

label {
  color: #EDEAE3;
  text-align: center;
}

input {
  padding: 15px 20px;
  border-radius: 15px;
  border: none;
  text-align: center;
  width: 65vw;
}

input:focus {
  border-radius: 15px !important;
  outline: none;
  box-shadow: 0 0 3px 2px rgba(231,159,57,0.9);
}

::placeholder {
  color: #7C7C7C;
}

.button-area {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

button {
  padding: 15px 15px;
  margin: 15px 5px;
  background-color: rgba(96, 29, 70, 0.65);
  color: #EDEAE3;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0,0,0,0.25);
}

button:nth-child(2){
  background-color: rgba(66, 66, 66, 1);
  color: #EDEAE3;
}

.invisible {
  display: none !important;
}

#passwordHelp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px;
  padding: 8px;
  color: #EDEAE3;
}

#passwordHelp ul li{
  padding: 2px;
}

.passwordRepeatHelp {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 8px;
  padding: 8px;
  color: #ede8e3;
  text-align: center;
  font-weight: 500;
}

.icon {
  padding-right: 5px;
}


.form-test {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  background-color: #747C81;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 4px rgba(0,0,0,0.4);
  padding: 20px 20px;
  margin-top: 25px;
  width: 45vw;
}

@media (min-width: 800px){
 
  .form {
    width: 45vw;
  }

  input {
    width: 30vw;

  }

  .button-area {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
  }

  button {
    flex-grow: 1;
  }
   
  }